<form method="post" action="{% url 'DMmod:dp_create' %}?course_title={{course_title}}" class="js-dp-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Create a new deployment package</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% include 'dataforms/deploymentpackage/partial_dp_form.html' %}
    Select <b>{{course_title}}</b> Sections To Share With <i>(Optional)</i>
    <br>
    {% for section in sections %}
        <input type="checkbox" name="course_sections" value="{{section.course_section_id}}"> {{section.section_number}}<br>
    {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" onclick="enableButton()">Create deployment package</button>
    <input type="hidden" name="course_title" value="{{course_title}}">
  </div>
</form>

<script>
    function enableButton(){
        document.getElementById("delete_all_packages").disabled = false;
    };
</script>
