<form method="post" action="{% url 'DMmod:dp_delete_all' course_title=course_title %}" class="js-dp-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Confirm deletion</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete <strong>ALL</strong> the deployment packages</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger" onclick="disableButton()">Delete ALL Packages</button>
    <input type="hidden" name="course_title" id="course_title" value="{{course_title}}">
  </div>
</form>

<script>
    function disableButton(){
        document.getElementById("delete_all_packages").disabled = true;
    };
</script>
