{% extends 'Module_TeamManagement/Student/studentBase.html' %}

{% block bootstrapContent %}

 <div class="col-md-8">
<h1>Tools Setup</h1>
<form action="{% url 'TMmod:uploadtoolStudent' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">

    {% csrf_token %}

    <div class="form-group">
        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Course Code</label>
        <div class="col-md-4">
          <select class="form-control" id="course_title" name="course_title">
            <option value="" disabled selected>Select your course</option>
            {% for course_title,course_section in courses.items %}
                <option value={{course_section.id}}>{{course_section.to_string}}</option>
            {% endfor %}
          </select>
        </div>

        </br>
        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Learning Tools</label>
        <div class="col-md-4">
          <select class="form-control" id="type" name="type">
            <option value="" disabled selected>Select your tools</option>
                <option value="Trailhead">Trailhead</option>
                <option value="Tableu">Tableau</option>
                <option value="Kahoot">Kahoot</option>
          </select>
        </div>

        </br>
        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Website Link Input</label>
        <div class="col-md-8">
        <input type="text" class="form-control" name="link" id="link" aria-describedby="fileHelp">
      </div>
    </div>
    <input type="hidden" id="user" name="user" value="student">

    <div class="form-group">
      <div class="col-md-12" style="margin-bottom:10px;">
          <button class="btn btn-primary">Configure tools</button>
        </div>
    </div>
  </form>
</div>
{% if error %}<div class='imp_message'>{{ error }}</div>{% endif %}
{% if message %}<div class='imp_message'>{{ message }}</div>{% endif %}

<!-- <label for="name" class="control-label">
  <a href="." data-toggle="popover" data-html="true" data-trigger="hover" data-content="Copy your Trailhead account link here.">Help <i class="far fa-question-circle"></i></a>
</label>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script> -->

{% include 'popupmessages/message.html' %}

{% endblock %}
