{% for server in servers %}
  <tr>
      <td>{{ server.server_ip }}</td>
      <td>{{ server.server_id }}</td>
      <td>{{ server.server_name }}</td>
      <td>{{ server.server_type }}</td>
    <td style="width: 250px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-server"
              data-url="{% url 'DMmod:server_update' pk=server.server_ip course_title=course_title %}?course_title={{course_title}}">
          <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-server"
              data-url="{% url 'DMmod:server_delete' pk=server.server_ip course_title=course_title %}?course_title={{course_title}}">
          <span class="glyphicon glyphicon-trash"></span> Delete
     </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No servers</td>
  </tr>
{% endfor %}
