{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
  </head>
  <body>
    <div id="loader">
      <img src="{% static 'images/Cloudtopus-V1.png' %}" width="80%">
    </div>
  </body>
  <script type="text/javascript">
    var loader = document.getElementById("loader");

    window.addEventListener("load",function(){

      loader.style.height="100px";

      loader.style.width="100px";

      loader.style.borderRadius="50%";

      loader.style.visibility="hidden";
    });
  </script>
</html>
