html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}


.carousel-inner img{
    width: 100%;
    height:100%;
}

.carousel-caption{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-family: 'Anton', sans-serif;
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 7px 7px 15px #000;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.btn-primary{
    background-color: #4475C4;
    border: 1px solid #4475C4;
    font:
}
.btn-primary:hover{
    background-color: #3872d1;
    border: 1px solid #edc707;
}

.btn-lg{
  color: white;
}

@media (max-width: 768px) {
    .carousel-caption{
    top:45%;
}
.carousel-caption h1{
    font-size: 350%;
}
.carousel-caption h3{
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
}
.carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
}

@media (max-width: 576px) {
.carousel-caption{
    top:40%;
}
.carousel-caption h1{
    font-size: 250%;
}
.carousel-caption h3{
    font-size: 110%;
}
.carousel-caption .btn{
    font-size: 90%;
    padding: 4px 8px;
}


/*---Firefox Bug Fix --*/
.carousel-item {
  height:100%;
  width:100%;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
