  .itopsheader {
    color: white;
    background: #2C3E50;
    font-weight: bold;
    font-family: bebas;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
  }
  
  .error {
    color: #a80000;
    background: #ffe0e0;
    padding: 10px 10px;
    font-weight: bold;
    font-family: montserrat;
    font-size:10px;
    border-left: 6px solid #a80000;
  }
  
  /* unvisited link */
  a:link {
      color:#2C3E50;
  }

  /* visited link */
  a:visited {
      color: #2C3E50;
  }

  .container {
      width: 1180px;
      margin-top: 3em;
      margin-bottom: 3em;
      border-color: #2C3E50;
      color: #2C3E50;
  }

  #accordion .panel {
    border-radius: 0;
    border: 0;
    margin-top: 0px;
  }
  #accordion a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #2C3E50;
    text-decoration: none;
  }
  #accordion .panel-heading a.collapsed:hover,
  #accordion .panel-heading a.collapsed:focus {
    background-color: #2C3E50;
    color: white;
    transition: all 0.2s ease-in;
  }
  #accordion .panel-heading a.collapsed:hover::before,
  #accordion .panel-heading a.collapsed:focus::before {
    color: ccc;
  }
  #accordion .panel-heading {
    padding: 0;
    border-radius: 0px;
    text-align: center;
  }
  #accordion .panel-heading a:not(.collapsed) {
    color: white;
    background-color: #2C3E50;
    transition: all 0.2s ease-in;
  }
  
  /* Add Indicator fontawesome icon to the left */
  #accordion .panel-heading .accordion-toggle::before {
    font-family: 'FontAwesome';
    content: '\f0d7';
    float: left;
    color: white;
    font-weight: lighter;
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
  }
  #accordion .panel-heading .accordion-toggle.collapsed::before {
    color: #444;
    transform: rotate(-90deg);
    transition: all 0.2s ease-in;
  }
  

  /* CSS for multistep form

  /*basic reset*/
  * {
    margin: 0;
    padding: 0;
  }
  
  /*form styles*/
  #msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
  }
  
  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
  
    /*stacking fieldsets above each other*/
    position: relative;
  }
  
  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
    display: none;
  }
  
  /*inputs*/
  #msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }
  
  #msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2C3E50;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
  }
  
  /*buttons*/
  #msform .action-button {
    width: 100px;
    background: #2C3E50;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  
  #msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #2C3E50;
  }
  
  #msform .action-button-previous {
    width: 100px;
    background: #2C3E50;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  
  #msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #2C3E50;
  }
  
  /*headings*/
  .fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }
  
  /*progressbar*/
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
  }
  
  #progressbar li {
    list-style-type: none;
    color: #2C3E50;
    text-transform: uppercase;
    font-size: 9px;
    width: 33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
  }
  
  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
  }
  
  /*progressbar connectors*/
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
  }
  
  #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
  }
  
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before, #progressbar li.active:after {
    background: black;
    color: white;
  }
  
  
  /* Not relevant to this form */
  .dme_link {
    margin-top: 30px;
    text-align: center;
  }
  .dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #2C3E50;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
  }
  
  .dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
  } 